### 1. module configuration

In [1]:
import pandas as pd
from sklearn.svm import SVC

### 2. Data Loader

In [3]:
csv = pd.read_csv('../data/iris.csv')
csv

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

### 3. Data Split - feature | label

In [8]:
label = csv['variety']
feature = csv[['sepal.length','sepal.width','petal.length','petal.width']]
feature

#label  -->  sklearn는 데이터를 shuffle해줘야 한다.

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

### 4. Model Generate and Training

In [10]:
model = SVC() # svm 모델을 생성
model.fit(feature,label) # 지도학습이기 때문에 속성과 라벨을 동시에 학습시 넣어준다.

SVC()

### 5. Predict
    학습 때 사용하지 않은 미지의 데이터를 입력해서 예측값을 출력해본다.

In [11]:
pred = model.predict([
    [5.2, 3.4, 1.2, 0.3],
    [2.5, 0.4, 12.3, 4.0],
    [1.2, 6.3, 2.4, 12.8]
    
])

print(pred)

['Setosa' 'Virginica' 'Virginica']